<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <title>Angular JS Setup</title>
    <script type="text/javascript" src="../libs/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>

<body ng-controller="MainController">

    <!-- part4 Scope Hierarchy -->
    <div ng-controller="ParentController">

        <input type="text" ng-model="name">
        <p>This is the parent: {{ name }}</p>

        <div ng-controller="ChildController">

            <input type="text" ng-model="name">
            <p>This is the child: {{ name }}</p>

        </div>

    </div>

    <!-- part1  -->
    <p> {{ sayHello('Prassanjeet')   }} </p>
    <p> {{ sayHello('Sam')   }} </p>  

    <!-- part2  -->
    <p><input type="text" ng-model="itemIndex"><input type="button" value="Get Item" ng-click="getItem()"></p> 
    <p>Current Item: {{ currentItem }}</p>

    <!-- part3  -->
    <p>Standard Bracket Expression:</p>
    <p>{{ randomValue }}</p>

    <p>One Time Expression:</p>
    <p>{{ ::randomValue }}</p>

    <p>Array Bracket Expression:</p>
    <p>{{ names[1] }}</p>

    <p>Operation Bracket Expression:</p>
    <p>{{ qty * cost }}</p>
    
    <!-- Evaluation Expression -->
    <p>Greater Than 500,000?</p> 
    <p>{{ randomValue > 500000 }}</p>

    <!-- Binding Expression -->
    <p><input type="text" ng-model="pWidth"></p>    
    <p style="background: #ff0000; width:{{ pWidth }}px">
        This is a dynamic paragraph.
    </p>
</body>

</html>